.page-BgGray {
    background: #dfe3e4;
}
.page-TimeShifts {
    padding: 0px 0;
}
.TShifts__table {
    width: 100%;
}

app.css:868
.TShifts__table thead th.Month {
    width: 120px !important;
    display: inline-block;
}
.TShifts__table thead th {
    background: #19b182;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    width: 4%;
}
.TShifts__table tbody tr td:first-child {
    width: 20px !important;
    padding: 10px 0;
    text-align: center;
}
.TShifts__table tbody tr td {
    border-left: 1px solid #bec6c8;
    border-bottom: 1px solid #bec6c8;
	border-right: 1px solid  #bec6c8;;
    max-width: 4%;
    cursor: pointer;
}
.today{
    border-left: 1px solid #000000 !important;
    border-top: 1px solid #000000 !important;
    border-bottom: 1px solid #000000 !important;
    border-right: 1px solid #000000 !important;
    max-width: 4%;
    cursor: pointer;
}
